@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* service */

.service_section {
    background-color: #eeeeee;
    padding: 100px 0;
}

.section_title {
    text-align: center;
    color: olivedrab;
    font-size: 2rem;
    margin-bottom: 80px;
}

.card_list {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
}

.card {
    width: calc(95% / 3);
}

.card_textbox {
    background-color: white;
    padding: 10px;
}

.card_title {
    font-size: 24px;
    color: olivedrab;
    border-left: solid 10px olivedrab;
    margin-bottom: 10px;
}

.card_text {
    font-size: 16px;
    line-height: 1.5rem;
}

@media screen and (max-width: 400px) {
    .card_list {
        display: block;
        width: 95%;
        margin: 0 auto;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .card img {
        width: 100%;
        height: auto;
    }
}
